/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* ------------------------------------------------------
Common :: Variables
------------------------------------------------------ */
/* Space */
/* Headline */
/* Tables */
/* ------------------------------------------------------
Common :: Functions
------------------------------------------------------ */
/*--------------------------------------------------------------
# Custom Css
--------------------------------------------------------------*/
.content-wrapper {
  position: relative; }
  .content-wrapper .content-img {
    pointer-events: none; }
  .tax-album_cat .content-wrapper .img0 {
    width: 87.01px;
    height: 126.68px;
    top: 3%;
    right: 0;
    position: absolute; }
    .tax-album_cat .content-wrapper .img0:before {
      background: url("../img/icon/ic-dotted.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .tax-album_cat .content-wrapper .img1 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 0; }
    .tax-album_cat .content-wrapper .img1:before {
      background: url("../img/icon/ic-cong-before.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .tax-album_cat .content-wrapper .img2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 74%;
    right: 0; }
    .tax-album_cat .content-wrapper .img2:before {
      background: url("../img/icon/ic-cong-after.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .tax-album_cat .content-wrapper .img3 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 14%;
    right: 0; }
    .tax-album_cat .content-wrapper .img3:before {
      background: url("../img/icon/ic-cong-after.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .tax-album_cat .content-wrapper .img4 {
    width: 29.167vw;
    height: 58.056vw;
    position: absolute;
    top: 60%;
    left: 0; }
    .tax-album_cat .content-wrapper .img4:before {
      content: '';
      background: url("../img/icon/ic-circle-1.svg") center no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      position: absolute; }
  .tax-album_cat .content-wrapper .img5 {
    width: 29.167vw;
    height: 58.056vw;
    position: absolute;
    top: -2%;
    left: 0; }
    .tax-album_cat .content-wrapper .img5:before {
      content: '';
      background: url("../img/icon/ic-circle-1.svg") center no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      position: absolute; }
  .tax-album_cat .content-wrapper .img6 {
    position: absolute;
    width: 29.167vw;
    height: 58.056vw;
    top: 34%;
    right: 0; }
    .tax-album_cat .content-wrapper .img6:after {
      content: '';
      background: url("../img/ic-circle-2.svg") center no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      position: absolute; }
  .single-album .content-wrapper .content-img.img0 {
    width: 29.167vw;
    height: 58.056vw;
    position: absolute;
    top: 10%;
    left: 0; }
    .single-album .content-wrapper .content-img.img0:before {
      content: '';
      background: url("../img/icon/ic-circle-1.svg") center no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      position: absolute; }
  .single-album .content-wrapper .content-img.img1 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 3%;
    right: 0; }
    .single-album .content-wrapper .content-img.img1:before {
      background: url("../img/icon/ic-cong-after.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .single-album .content-wrapper .content-img.img3 {
    width: 87.01px;
    height: 126.68px;
    top: 41.5%;
    left: 0;
    position: absolute; }
    .single-album .content-wrapper .content-img.img3:before {
      background: url("../img/icon/ic-dotted.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .single-album .content-wrapper .content-img.img4 {
    width: 87.01px;
    height: 126.68px;
    top: 48%;
    left: 0;
    position: absolute; }
    .single-album .content-wrapper .content-img.img4:before {
      background: url("../img/icon/ic-dotted.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .single-album .content-wrapper .content-img.img5 {
    position: absolute;
    width: 29.167vw;
    height: 58.056vw;
    top: 38%;
    right: 0; }
    .single-album .content-wrapper .content-img.img5:after {
      content: '';
      background: url("../img/ic-circle-2.svg") center no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      position: absolute; }
  .single-album .content-wrapper .content-img.img6 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 56%;
    left: 0; }
    .single-album .content-wrapper .content-img.img6:before {
      background: url("../img/icon/ic-cong-before.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .single-album .content-wrapper .content-img.img7 {
    width: 29.167vw;
    height: 58.056vw;
    position: absolute;
    top: 80%;
    left: 0; }
    .single-album .content-wrapper .content-img.img7:before {
      content: '';
      background: url("../img/icon/ic-circle-1.svg") center no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
      position: absolute; }
  .single-album .content-wrapper .content-img.img8 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 90%;
    right: 0; }
    .single-album .content-wrapper .content-img.img8:before {
      background: url("../img/icon/ic-cong-after.svg") center no-repeat;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute; }
  .content-wrapper .content-sidebar-wrap {
    position: relative;
    z-index: 1; }

.site-content > .container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

.heading {
  margin-bottom: 30px; }

.blog-shortcode.style-3 .hentry {
  margin-bottom: 30px; }
.blog-shortcode.style-3 .post-info {
  position: relative;
  padding: 0;
  overflow: hidden;
  padding: 0;
  background: transparent;
  box-shadow: initial; }
  .blog-shortcode.style-3 .post-info .post-info__thumb {
    margin-bottom: 15px; }
    .blog-shortcode.style-3 .post-info .post-info__thumb .img {
      padding-top: 67.1794872%; }
  .blog-shortcode.style-3 .post-info .post-info__title {
    font-size: 15px;
    padding: 0;
    background: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    text-transform: none; }
    .blog-shortcode.style-3 .post-info .post-info__title a {
      color: var(--primarycolor); }

.album-heading {
  font-size: 18px;
  color: var(--primarycolor);
  line-height: 1.22727273;
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal; }

#intro {
  margin-bottom: 40px; }
  #intro .intro-list {
    margin-bottom: 30px; }
  #intro .intro-item {
    padding-left: 35px;
    margin-bottom: 10px;
    position: relative; }
    #intro .intro-item:before {
      content: '';
      background: url("../img/ic-concept.svg") center no-repeat;
      width: 20px;
      height: 20px;
      background-size: 20px;
      position: absolute;
      top: -3px;
      left: 0; }
  #intro .intro-title {
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--primarycolor); }
  #intro .btn-Intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #intro .btn-Intro a {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 70%;
      padding: 20px 19px 20px 77px;
      border-radius: 15px;
      background: linear-gradient(to bottom, #38946c 0%, #0c3d28 100%);
      box-shadow: 0px 13px 16px rgba(56, 148, 108, 0.12);
      text-transform: uppercase;
      font-size: 14px;
      color: #FFF;
      text-align: center;
      position: relative;
      margin-bottom: 10px;
      font-weight: normal; }
      @media only screen and (max-width: 376px) {
        #intro .btn-Intro a {
          font-size: 12px; } }
      #intro .btn-Intro a.btn-package {
        padding: 11px 19px 8px 77px; }
      #intro .btn-Intro a span {
        margin-right: 2px; }
      #intro .btn-Intro a:after {
        content: '';
        background: rgba(255, 255, 255, 0.3);
        width: 1px;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 60px; }
      #intro .btn-Intro a.btn-package:before {
        content: '';
        background: url("../img/ic-file.svg") center no-repeat;
        width: 18px;
        height: 23px;
        background-size: 22px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px; }
      #intro .btn-Intro a.btn-mess {
        background: linear-gradient(to bottom, #4fa4e5 0%, #0f5297 100%); }
        #intro .btn-Intro a.btn-mess:before {
          content: '';
          background: url("../img/ic-face.svg") center no-repeat;
          width: 30px;
          height: 30px;
          background-size: 30px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px; }

#gallery {
  margin-bottom: 32px; }
  #gallery .gallery-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5px;
    margin-right: -1.5px; }
    #gallery .gallery-row .gallery-item {
      padding-left: 1.5px;
      padding-right: 1.5px;
      margin-bottom: 3px; }
      #gallery .gallery-row .gallery-item.item-100 {
        max-width: 100%;
        flex-basis: 100%; }
      #gallery .gallery-row .gallery-item.item-75 {
        max-width: 75%;
        flex-basis: 75%; }
      #gallery .gallery-row .gallery-item.item-66 {
        max-width: 66.666666%;
        flex-basis: 66.666666%; }
      #gallery .gallery-row .gallery-item.item-50 {
        max-width: 50%;
        flex-basis: 50%; }
      #gallery .gallery-row .gallery-item.item-33 {
        max-width: 33.333333%;
        flex-basis: 33.333333%; }
      #gallery .gallery-row .gallery-item.item-25 {
        max-width: 25%;
        flex-basis: 25%; }
      #gallery .gallery-row .gallery-item a {
        height: 100%; }
        #gallery .gallery-row .gallery-item a img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover; }
  #gallery .gallery-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px; }
    #gallery .gallery-box .gallery-item {
      width: 25%;
      padding-left: 5px;
      padding-right: 5px; }
      #gallery .gallery-box .gallery-item.gallery-1 {
        width: 100%;
        margin-bottom: 10px;
        position: relative; }
        #gallery .gallery-box .gallery-item.gallery-1 .nb-image {
          position: absolute;
          font-size: 30px;
          font-weight: 600;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #FFF; }
      #gallery .gallery-box .gallery-item img {
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover; }

#tags {
  margin-bottom: 40px; }

#block-cst {
  margin-bottom: 15px; }

.single-post__related .heading {
  margin-bottom: 0px; }
.single-post__related .subheading {
  margin-bottom: 32px; }

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media only screen and (min-width: 576px) {
  #intro {
    margin-bottom: 60px; }
    #intro .intro-item {
      padding-left: 50px;
      margin-bottom: 15px;
      position: relative; }
      #intro .intro-item:before {
        width: 25px;
        height: 25px;
        background-size: 25px;
        top: -5px;
        left: 0; }
    #intro .intro-title {
      font-size: 18px; }
    #intro .btn-Intro a {
      min-width: 238px;
      margin: 0 25px;
      font-size: 16px;
      width: initial; }
      #intro .btn-Intro a span {
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0; }

  #tags {
    margin-bottom: 60px; }

  #block-cst {
    margin-bottom: 35px; } }
@media only screen and (min-width: 850px) {
  .album-heading {
    font-size: 22px; }

  .blog-shortcode.style-3 .post-info .post-info__title {
    font-size: 18px; } }
@media only screen and (min-width: 1200px) {
  #intro {
    margin-bottom: 90px; }
    #intro .intro-item {
      padding-left: 70px;
      margin-bottom: 25px;
      position: relative; }
      #intro .intro-item:before {
        width: 35px;
        height: 35px;
        background-size: 35px;
        top: -10px;
        left: 0; }
    #intro .intro-title {
      font-size: 22px; }
    #intro .btn-Intro a {
      min-width: 356px;
      margin: 0 25px; }

  #tags {
    margin-bottom: 90px; }

  #block-cst {
    margin-bottom: 55px; } }
@media only screen and (min-width: 1400px) {
  #intro .btn-Intro a {
    font-size: 18px; } }

/*# sourceMappingURL=album.css.map */
