/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* ------------------------------------------------------
Common :: Variables
------------------------------------------------------ */
/* Space */
/* Headline */
/* Tables */
/* ------------------------------------------------------
Common :: Functions
------------------------------------------------------ */
/*--------------------------------------------------------------
# Custom Css
--------------------------------------------------------------*/
body {
    overflow-x: hidden;
}

.content-wrapper {
    position: relative;
}

.content-wrapper .content-img {
    pointer-events: none;
}

.content-wrapper .img0 {
    width: 87.01px;
    height: 126.68px;
    top: 20%;
    left: 0;
    position: absolute;
}

.content-wrapper .img0:before {
    background: url("../img/ic-dotted.svg") center no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
}

.content-wrapper .img1 {
    width: 29.167vw;
    height: 58.056vw;
    position: absolute;
    top: 24%;
    right: 0;
}

.content-wrapper .img1:before {
    content: '';
    background: url("../img/ic-circle-2.svg") center no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-wrapper .img2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 0;
}

.content-wrapper .img2:before {
    background: url("../img/ic-cong-before.svg") center no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
}

.content-wrapper .img3 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 65%;
    right: 0;
    z-index: 9;
}

.content-wrapper .img3:before {
    background: url("../img/ic-cong-after.svg") center no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
}

.content-wrapper .img4 {
    width: 29.167vw;
    height: 58.056vw;
    position: absolute;
    top: 70%;
    left: 0;
}

.content-wrapper .img4:before {
    content: '';
    background: url("../img/ic-circle-1.svg") center no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-wrapper .img5 {
    width: 87.01px;
    height: 126.68px;
    top: 90%;
    right: 0;
    position: absolute;
}

.content-wrapper .img5:before {
    background: url("../img/ic-dotted.svg") center no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
}

.site-content > .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.site-content .content-sidebar-wrap {
    position: relative;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
}

.site-content .content-sidebar-wrap .site-main {
    padding-left: 0;
    padding-right: 0;
}

#dv {
    padding-top: 0px;
    padding-bottom: 10px;
}

#dv .heading {
    margin-bottom: 10px;
}

#dv .nav-pills {
    bottom: 0;
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 576px) {
    #dv .nav-pills {
        margin: 0 0 10px;
    }
}

#dv .nav-pills .nav-item {
    padding: 0 15px;
    max-width: 50%;
    flex-basis: 50%;
    margin-bottom: 10px;
}

#dv .nav-pills .nav-item .nav-link {
    color: var(--textcolor);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    height: 100%;
    background-color: transparent;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
}

#dv .nav-pills .nav-item .nav-link:before {
    content: attr(title);
    position: absolute;
    top: -10px;
    right: -11px;
    font-size: 12px;
}

#dv .nav-pills .nav-item .nav-link.active {
    color: var(--primarycolor);
    border-color: var(--primarycolor);
}

#dv .tab-content {
    display: none;
    animation-name: fade;
    animation-duration: 1000ms;
}

#dv .tab-content.show {
    display: block;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#dv .blog-shortcode .slick-slider.slick-carousel.slick-dotted {
    padding-bottom: 30px;
}

#dv .blog-shortcode.style-slide .hentry {
    margin-bottom: 10px;
}

#dv .blog-shortcode.style-slide .post-info {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

#dv .blog-shortcode.style-slide .post-info .post-info__thumb .img {
    padding-top: 92.3076923%;
}

#dv .blog-shortcode.style-slide .post-info .post-info__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20% 15px 10px;
    background: linear-gradient(to bottom, rgba(3, 96, 54, 0) 0%, #304a31 100%);
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 576px) {
    #dv .blog-shortcode.style-slide .post-info .post-info__content {
        pointer-events: none;
    }
}

#dv .blog-shortcode.style-slide .post-info .post-info__content:before {
    content: '';
    background: linear-gradient(to bottom, #597c5b 0%, #304a31 100%);
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    /*    visibility: hidden;*/
    transition: all 0.5s ease-in-out;
}

#dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__title {
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
}

@media only screen and (max-width: 576px) {
    #dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__title {
        font-size: 14px !important;
    }
}

#dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__title a {
    color: #FFF;
}

#dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__link {
    opacity: 0;
    height: 0;
    text-align: center;
}

#dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__link a {
    display: inline-block;
    width: 175px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #FFF;
    border-radius: 13px;
    transition: all 0.5s ease-in-out;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
}

@media only screen and (max-width: 576px) {
    #dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__link a {
        width: 100%;
        height: 35px;
        line-height: 35px;
    }
}

#dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__link a:hover {
    background: var(--primarycolor);
    color: #FFF;
}

#dv .slick-arrow {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--primarycolor);
    background: #F9F9F8;
    top: 48%;
    display: none !important;
}

#dv .slick-arrow:before {
    font-size: 30px;
    font-weight: bold;
}

#dv .slick-arrow.slick-next {
    right: 30px;
}

#dv .slick-arrow.slick-prev {
    left: 30px;
}

#dv .slick-dots {
    bottom: 16px;
    display: block;
}

#dv .cslist .row {
    margin-left: -15px;
    margin-right: -15px;
}

#dv .cslist .row [class*='col'] {
    padding-left: 15px;
    padding-right: 15px;
}

#dv .cslist .cs-number {
    font-size: 30px;
    font-weight: bold;
    color: var(--primarycolor);
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#dv .cslist .cs-title {
    font-size: 14px;
    color: var(--primarycolor);
    font-weight: normal;
    margin-bottom: 15px;
    text-align: center;
}

#albums {
    position: relative;
}

#albums .wrap {
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}

#albums:after {
    content: '';
    background: #E7EEEB;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#albums .heading {
    margin-bottom: 5px;
}

#albums .subheading {
    font-size: 17px;
    font-weight: 300;
}

#albums .album-permalink {
    position: relative;
    z-index: 9999;
}

#albums .album-permalink a {
    display: inline-block;
    width: 135px;
    height: 35px;
    line-height: 37px;
    border: 1px solid var(--primarycolor);
    background: #FFF;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 13px;
}

#albums .album-permalink a svg path {
    transition: all 0.35s ease-in-out;
}

#albums .album-permalink a:hover {
    background: var(--primarycolor);
    color: #FFF;
}

#albums .album-permalink a:hover svg path {
    fill: #FFF;
}

#albums .main-album {
    z-index: 9;
}

#albums .main-album .card-columns .card {
    margin-bottom: 30px;
}

#albums .main-album .card-columns .card.card-empty {
    display: none;
}

#albums .main-album .card-columns .card-body {
    position: relative;
    padding: 0;
}

@media only screen and (min-width: 1110px) {
    #dv .blog-shortcode.style-slide .post-info:hover .post-info__content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        display: table;
        overflow: hidden;
        padding: 20px;
    }

    #dv .blog-shortcode.style-slide .post-info:hover .post-info__content:before {
        content: '';
        height: 100%;
        /*        visibility: visible;*/
        opacity: 0.93;
        transition: all 0.5s ease-in-out;
    }

    #dv .blog-shortcode.style-slide .post-info:hover .post-info__content .post-info__inner {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        text-align: center;
    }

    #dv .blog-shortcode.style-slide .post-info:hover .post-info__content .post-info__title {
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    #dv .blog-shortcode.style-slide .post-info:hover .post-info__content .post-info__title a {
        color: #FFF;
    }

    #dv .blog-shortcode.style-slide .post-info:hover .post-info__content .post-info__link {
        height: auto;
        opacity: 1;
    }
}
@media only screen and (max-width: 992px) {
    #albums .album-permalink {
        margin-bottom: 30px;
    }

    #albums .main-album .card-columns {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    #albums .main-album .card-columns .card {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
        margin-bottom: 30px;
    }

    #albums .main-album .card-columns .card-body img {
        border-radius: 20px;
        box-shadow: 0px 18px 36px rgba(59, 67, 64, 0.26);
        margin-bottom: 15px;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }
    #albums .main-album .card-columns .card-body .card-link {
        display: none;
    }
    #albums .main-album .card-columns .card-body .card-title {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.5;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media only screen and (max-width: 650px) {
    #albums .main-album .card-columns {
        display: flex;
        flex-wrap: wrap;
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    #albums .main-album .card-columns .card {
        padding-left: 7.5px;
        padding-right: 7.5px;
        max-width: 50%;
        flex-basis: 50%;
        margin-bottom: 15px;
    }

    #albums .main-album .card-columns .card-body img {
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    #albums .main-album .card-columns .card-body .card-title {
        font-weight: 500;
        font-size: 14px;
        max-height: 42px;
        overflow: hidden;
    }
}

#blogs {
    padding-top: 30px;
    padding-bottom: 20px;
}

#blogs .wrap {
    position: relative;
    z-index: 9991;
}

#blogs .news-permalink {
    margin-top: 30px;
}

#blogs .news-permalink a {
    display: inline-block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border: 1px solid var(--primarycolor);
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

#blogs .news-permalink a svg path {
    transition: all 0.35s ease-in-out;
}

#blogs .news-permalink a:hover {
    background: var(--primarycolor);
    color: #FFF;
}

#blogs .news-permalink a:hover svg path {
    fill: #FFF;
}

@media only screen and (max-width: 576px) {
    #blogs .news-permalink {
        margin-top: 0;
    }

    #blogs .news-permalink a {
        width: 135px;
        height: 35px;
        line-height: 37px;
        font-size: 15px;
        border-radius: 7px;
    }
}

#customer {
    padding-top: 20px;
    padding-bottom: 40px;
}

#customer .heading {
    text-align: center;
    margin-bottom: 25px;
}

#customer .customer-image {
    border-radius: 8px;
    overflow: hidden;
}

#customer .slick-slide > div:first-child {
    margin-bottom: 20px;
}

#customer .slick-dots {
    bottom: -10px;
}

#customer .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    transition: all 0.35s ease-in-out;
    border: 0;
}

#customer .slick-dots li button {
    width: 100%;
    height: 100%;
    border: 1px solid #DBD8D2;
    border-radius: 20px;
    background: #DBD8D2;
}

#customer .slick-dots li button:before {
    display: none;
}

#customer .slick-dots li.slick-active {
    width: 41px;
}

#customer .slick-dots li.slick-active button {
    background: linear-gradient(to left, #67b292 0%, #304a31 100%);
    border-color: 0px solid transparent;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media only screen and (min-width: 576px) {
    #blogs {
        padding-top: 38px;
        padding-bottom: 30px;
    }

    #customer {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    #customer .heading {
        margin-bottom: 30px;
    }

    #dv {
        padding-bottom: 40px;
    }

    #dv .nav-pills .nav-item .nav-link {
        font-size: 16px;
    }

    #dv .blog-shortcode.style-slide .post-info .post-info__content {
        padding: 25% 15px 20px;
    }

    #dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__title {
        margin-bottom: 15px;
        font-size: 16px;
    }

    #dv .slick-arrow {
        display: block !important;
    }

    #dv .slick-dots {
        display: none !important;
    }

    #dv .cslist .cs-number {
        font-size: 40px;
    }

    #dv .cslist .cs-title {
        font-size: 16px;
    }
}

@media only screen and (min-width: 850px) {
    #dv .blog-shortcode.style-slide .hentry {
        margin-bottom: 30px;
    }

    #dv .blog-shortcode.style-slide .post-info .post-info__content {
        padding: 25% 15px 30px;
    }

    #dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__title {
        font-size: 18px;
    }

    #dv .nav-pills {
        margin: 0 0 30px;
    }

    #dv .nav-pills .nav-item {
        padding: 0 25px;
        max-width: initial;
        flex-basis: initial;
        margin-bottom: 0;
    }

    #dv .nav-pills .nav-item .nav-link {
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    #dv .cslist .row {
        margin-left: -35px;
        margin-right: -35px;
    }

    #dv .cslist .row [class*='col'] {
        padding-left: 35px;
        padding-right: 35px;
    }

    #dv .cslist .row [class*='col']:not(:last-child) {
        border-right: 1px solid #A0CBB8;
    }

    #dv .cslist .cs-number {
        font-size: 55px;
        text-align: left;
    }

    #dv .cslist .cs-title {
        font-size: 18px;
        text-align: left;
    }

    #album .heading {
        margin-bottom: 10px;
    }

    #album .album-permalink a {
        width: 50px;
        line-height: 50px;
        width: 180px;
        font-size: 18px;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 992px) {
    #albums {
        position: relative;
    }

    #albums:after {
        content: '';
        background: #E7EEEB;
        width: 50%;
        height: 84%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #albums .wrap {
        padding-top: 60px;
        padding-bottom: 0;
    }

    #albums .wrap:after {
        content: '';
        border-radius: 0 90px 90px 0;
        background: #E7EEEB;
        width: 55%;
        height: 84%;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 0;
    }

    #albums .main-album {
        margin-top: -110px;
        position: relative;
    }

    #albums .main-album:before {
        content: '';
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #f9f9f8;
    }

    #albums .main-album .card-columns {
        column-count: 4;
        column-gap: 30px;
    }

    #albums .main-album .card-columns .card {
        margin-bottom: 30px;
        border-radius: 20px;
        overflow: hidden;
    }
    #albums .main-album .card-columns .card.card1, #albums .main-album .card-columns .card.card2, #albums .main-album .card-columns .card.card3, #albums .main-album .card-columns .card.card5, #albums .main-album .card-columns .card.card6 {
        box-shadow: 0px 6px 14px rgb(0 0 0 / 26%);
    }

    #albums .main-album .card-columns .card.card4 {
        box-shadow: 0px 6px 14px rgb(0 0 0 / 26%);
    }

    #albums .main-album .card-columns .card.card-empty {
        aspect-ratio: 1 / 0.4;
        display: block;
        box-shadow: initial;
    }

    #albums .main-album .card-columns .card.card-empty1 {
        aspect-ratio: 1 / 0.6;
    }

    #albums .main-album .card-columns .card.card-empty2 {
        aspect-ratio: 1 / 0.2;
    }

    #albums .main-album .card-columns .card.card-empty3 {
        aspect-ratio: 1 / 0.1;
    }  
    #albums .main-album .card-columns .card.card-empty4 {
        aspect-ratio: 1 / 0;
    }

    #albums .main-album .card-columns .card-body {
        height: 100%;
    }

    #albums .main-album .card-columns .card-body img {
        height: 100%;
        object-position: center;
        object-fit: cover;
        max-height: 190px;
    }

    #albums .main-album .card-columns .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
/*        visibility: hidden;*/
        transition: all 0.35s ease-in-out;
    }

    #albums .main-album .card-columns .card-overlay:before {
        content: '';
        background: linear-gradient(to bottom, #38946c 0%, #304a31 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.93;
    }

    #albums .main-album .card-columns .card-info {
        color: #FFF;
        z-index: 1;
        position: relative;
        text-align: center;
        display: table;
        height: 100%;
        width: 100%;
        padding: 0 15px;
    }

    #albums .main-album .card-columns .card-info .card-middle {
        display: table-cell;
        vertical-align: middle;
    }

    #albums .main-album .card-columns .card-info a {
        color: #FFF;
    }

    #albums .main-album .card-columns .card-info .card-title {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.35;
        margin-bottom: 20px;
    }

    #albums .main-album .card-columns .card-info .card-link a {
        display: inline-block;
        width: 155px;
        height: 46px;
        line-height: 46px;
        border: 1px solid #FFF;
        border-radius: 13px;
        transition: all 0.35s ease-in-out;
    }

    #albums .main-album .card-columns .card-info .card-link a:hover {
        background: var(--primarycolor);
        color: #FFF;
    }

    #albums .main-album .card-columns .card:hover .card-overlay {
        opacity: 1;
/*        visibility: visible;*/
    }

    #dv {
        padding-bottom: 30px;
    }

    #dv .blog-shortcode.style-slide .post-info .post-info__content {
        padding: 30% 20px 40px;
    }

    #dv .blog-shortcode.style-slide .post-info .post-info__content .post-info__title {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1100px) {
    .cslist .cs-number {
        font-size: 70px;
    }

    .cslist .cs-title {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    #blogs {
        padding-top: 58px;
        padding-bottom: 50px;
    }

    #customer {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    #customer .heading {
        margin-bottom: 35px;
    }

    #albums .wrap {
        padding-top: 105px;
        padding-bottom: 0;
    }

    #dv .slick-arrow.slick-next {
        right: 0;
    }

    #dv .slick-arrow.slick-prev {
        left: 0;
    }
}

@media only screen and (min-width: 1300px) {
    #dv .slick-arrow.slick-next {
        right: -15px;
    }

    #dv .slick-arrow.slick-prev {
        left: -15px;
    }
}

@media only screen and (min-width: 1400px) {
    #albums .main-album .card-columns .card-info .card-title {
        font-size: 17px;
    }

    #dv {
        padding-bottom: 30px;
    }

    #dv .slick-arrow {
        box-shadow: 0px 8px 8px rgba(56, 148, 108, 0.16);
        border-radius: 13px;
        transition: all 0.35s ease-in-out;
    }

    #dv .slick-arrow:before {
        transition: all 0.35s ease-in-out;
    }

    #dv .slick-arrow:hover {
        background: var(--primarycolor);
    }

    #dv .slick-arrow:hover:before {
        color: white;
    }

    #dv .slick-arrow.slick-next {
        right: -35px;
    }

    #dv .slick-arrow.slick-prev {
        left: -35px;
    }
}

@media only screen and (min-width: 1600px) {
    #albums:after {
        height: 84%;
    }

    #albums .main-album .card-columns .card-info .card-title {
        font-size: 20px;
    }

    #dv .slick-arrow.slick-next {
        right: -60px;
    }

    #dv .slick-arrow.slick-prev {
        left: -60px;
    }
}

@media only screen and (min-width: 1900px) {
    #albums {
        position: relative;
    }

    #albums:after {
        content: '';
        background: #E7EEEB;
        width: 50%;
        height: 84%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
